target/
.settings/
api/.project
api/.classpath
rar/.project
rar/.classpath
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
